{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}

<h1 id="site-name">
    {% if request.user.get_imagem %}
    <img src="{{ request.user.get_imagem }}" style="object-fit:contain; border-radius: 50%" width="50"/>
    {% endif %}
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
