:root {
  --primary-color: rgb(var(--v-theme-primary));
  /*
    font-family: "Inter var", sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    --font-family: "Inter var", sans-serif;
    --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --text-color: #334155;
    --text-color-secondary: #64748b;
    --primary-color-text: #ffffff;
    --surface-0: #ffffff;
    --surface-50: #f8fafc;
    --surface-100: #f1f5f9;
    --surface-200: #e2e8f0;
    --surface-300: #cbd5e1;
    --surface-400: #94a3b8;
    --surface-500: #64748b;
    --surface-600: #475569;
    --surface-700: #334155;
    --surface-800: #1e293b;
    --surface-900: #0f172a;
    --surface-950: #020617;
    --gray-0: #ffffff;
    --gray-50: #f8fafc;
    --gray-100: #f1f5f9;
    --gray-200: #e2e8f0;
    --gray-300: #cbd5e1;
    --gray-400: #94a3b8;
    --gray-500: #64748b;
    --gray-600: #475569;
    --gray-700: #334155;
    --gray-800: #1e293b;
    --gray-900: #0f172a;
    --gray-950: #020617;
    --content-padding: 1.125rem;
    --inline-spacing: 0.5rem;
    --border-radius: 6px;
    --surface-ground: #f8fafc;
    --surface-section: #ffffff;
    --surface-card: #ffffff;
    --surface-overlay: #ffffff;
    --surface-border: #e2e8f0;
    --surface-hover: #f1f5f9;
    --focus-ring: none;
    --maskbg: rgba(0, 0, 0, 0.4);
    --highlight-bg: #F5F3FF;
    --highlight-text-color: #6D28D9;
    --p-anchor-gutter: 2px;
    color-scheme: light;
    */
    --p-focus-ring-color: var(--primary-color);
  } 

    .p-toast {
      width: 25rem;
      white-space: pre-line;
      word-break: break-word;
    }
  
    .p-toast-message-icon {
      flex-shrink: 0;
    }
  
    .p-toast-message-content {
      display: flex;
      align-items: flex-start;
    }
  
    .p-toast-message-text {
      flex: 1 1 auto;
    }
  
    .p-toast-top-center {
      transform: translateX(-50%);
    }
  
    .p-toast-bottom-center {
      transform: translateX(-50%);
    }
  
    .p-toast-center {
      min-width: 20vw;
      transform: translate(-50%, -50%);
    }
  
    .p-toast-icon-close {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
    }
  
    .p-toast-icon-close.p-link {
      cursor: pointer;
    }
  
    /* Animations */
    .p-toast-message-enter-from {
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
    }
  
    .p-toast-message-leave-from {
      max-height: 1000px;
    }
  
    .p-toast .p-toast-message.p-toast-message-leave-to {
      max-height: 0;
      opacity: 0;
      margin-bottom: 0;
      overflow: hidden;
    }
  
    .p-toast-message-enter-active {
      -webkit-transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
    }
  
    .p-toast-message-leave-active {
      -webkit-transition: max-height 0.45s cubic-bezier(0, 1, 0, 1), opacity 0.3s, margin-bottom 0.3s;
      transition: max-height 0.45s cubic-bezier(0, 1, 0, 1), opacity 0.3s, margin-bottom 0.3s;
    }
  
    .p-toast {
      opacity: 1;
    }
    .p-toast .p-toast-message {
      margin: 0 0 1rem 0;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      border-radius: 6px;
    }
    .p-toast .p-toast-message .p-toast-message-content {
      padding: 0.75rem;
      border-width: 1px;
    }
    .p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
      margin: 0 0 0 0.5rem;
    }
    .p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
      font-size: 1.125rem;
    }
    .p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon.p-icon {
      width: 1.125rem;
      height: 1.125rem;
    }
    .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
      font-weight: 500;
    }
    .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
      margin: 0.5rem 0 0 0;
    }
    .p-toast .p-toast-message .p-toast-icon-close {
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 50%;
      background: transparent;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
      outline-color: transparent;
    }
    .p-toast .p-toast-message .p-toast-icon-close:hover {
      background: rgba(255, 255, 255, 0.5);
    }
    .p-toast .p-toast-message .p-toast-icon-close:focus-visible {
      outline: 1px solid var(--p-focus-ring-color);
      outline-offset: 2px;
      box-shadow: none;
    }
    .p-toast .p-toast-message.p-toast-message-info {
      background: rgba(239, 246, 255, 0.95);
      border: solid #bfdbfe;
      border-width: 1px;
      color: #2563eb;
    }
    .p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
      color: #2563eb;
    }
    .p-toast .p-toast-message.p-toast-message-success {
      background: rgba(240, 253, 244, 0.95);
      border: solid #bbf7d0;
      border-width: 1px;
      color: #16a34a;
    }
    .p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
      color: #16a34a;
    }
    .p-toast .p-toast-message.p-toast-message-warn {
      background: rgba(254, 252, 232, 0.95);
      border: solid #fde68a;
      border-width: 1px;
      color: #ca8a04;
    }
    .p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
      color: #ca8a04;
    }
    .p-toast .p-toast-message.p-toast-message-error {
      background: rgba(254, 242, 242, 0.95);
      border: solid #fecaca;
      border-width: 1px;
      color: #dc2626;
    }
    .p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
      color: #dc2626;
    }
    .p-toast .p-toast-message.p-toast-message-secondary {
      background: #f1f5f9;
      border: solid #e2e8f0;
      border-width: 1px;
      color: #475569;
    }
    .p-toast .p-toast-message.p-toast-message-secondary .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-secondary .p-toast-icon-close {
      color: #475569;
    }
    .p-toast .p-toast-message.p-toast-message-contrast {
      background: #020617;
      border: solid #64748b;
      border-width: 1px;
      color: #f8fafc;
    }
    .p-toast .p-toast-message.p-toast-message-contrast .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-contrast .p-toast-icon-close {
      color: #f8fafc;
    }
  
    .p-toast .p-toast-message {
      backdrop-filter: blur(1.5px);
    }
    .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
      font-size: 0.875rem;
    }
    .p-toast .p-toast-message .p-toast-icon-close {
      width: 1.75rem;
      height: 1.75rem;
      margin-top: -25%;
      right: -25%;
      position: relative;
    }
  
    .p-toast .p-toast-message.p-toast-message-info {
      box-shadow: 0px 4px 8px 0px rgba(59, 130, 246, 0.04);
    }
    .p-toast .p-toast-message.p-toast-message-info .p-toast-detail {
      color: #334155;
    }
    .p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
      outline-color: #2563eb;
    }
    .p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close:hover {
      background: #dbeafe;
    }
    .p-toast .p-toast-message.p-toast-message-success {
      box-shadow: 0px 4px 8px 0px rgba(34, 197, 94, 0.04);
    }
    .p-toast .p-toast-message.p-toast-message-success .p-toast-detail {
      color: #334155;
    }
    .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
      outline-color: #16a34a;
    }
    .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close:hover {
      background: #dcfce7;
    }
    .p-toast .p-toast-message.p-toast-message-warn {
      box-shadow: 0px 4px 8px 0px rgba(234, 179, 8, 0.04);
    }
    .p-toast .p-toast-message.p-toast-message-warn .p-toast-detail {
      color: #334155;
    }
    .p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
      outline-color: #ca8a04;
    }
    .p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close:hover {
      background: #fef9c3;
    }
    .p-toast .p-toast-message.p-toast-message-error {
      box-shadow: 0px 4px 8px 0px rgba(239, 68, 68, 0.04);
    }
    .p-toast .p-toast-message.p-toast-message-error .p-toast-detail {
      color: #334155;
    }
    .p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
      outline-color: #dc2626;
    }
    .p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close:hover {
      background: #fee2e2;
    }
    .p-toast .p-toast-message.p-toast-message-secondary {
      box-shadow: 0px 4px 8px 0px rgba(74, 85, 103, 0.04);
    }
    .p-toast .p-toast-message.p-toast-message-secondary .p-toast-icon-close {
      outline-color: #dc2626;
    }
    .p-toast .p-toast-message.p-toast-message-secondary .p-toast-icon-close:hover {
      background: #e2e8f0;
    }
    .p-toast .p-toast-message.p-toast-message-contrast {
      box-shadow: 0px 4px 8px 0px rgba(2, 6, 23, 0.04);
    }
    .p-toast .p-toast-message.p-toast-message-contrast .p-toast-icon-close {
      outline-color: #dc2626;
    }
    .p-toast .p-toast-message.p-toast-message-contrast .p-toast-icon-close:hover {
      background: #1e293b;
    }    

  .p-toast{
    /* Manter proporção de largura na visualização Mobile */
    max-width: 90% !important;
    z-index:1000000 !important;
  }